PORT=3003

MYSQL_HOST=mysql-reminders
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_DATABASE=reminders_db

PET_SERVICE_URL=http://pet-service:3002
NOTIFICATION_SERVICE_URL=http://notification-service:3004